


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <title>BDC</title>
  </head>

  <body>
    <section>
      <div class="imgBx" data-aos="fade-up" data-aos-duration="1500">
        <img src="./assets/images/backgrounds/solicitar.jpg" alt="" />
      </div>

      <div class="contentBx" data-aos="fade-down" data-aos-duration="1500">
        <div class="formBx">
          <h2>SOLICITAR LIBRO</h2>

          <form [formGroup]="formulario" class="form">
            <div class="form-group">
              <div class="inputBx">
                <span>ID_LIBRO</span>
                <input type="text" name="" formControlName="id_libro" [value]="libroModel.ID_LIBRO" />
              </div>
          
              <div class="inputBx">
                <span>COMIC</span>
                <input type="text" name=""  [value]="libroModel.NOMBRE" />
              </div>
              <div class="inputBx">
                <span>Usuario</span>
                <input type="text" name="" [value]="Usuario.login" />
              </div>
          
              <div class="inputBx">
                <span>Disponibles</span>
                <input type="text" name=""  [value]="libroModel.DISPONIBLES" />
              </div>
          
              <div class="inputBx">
                <span>FECHA PRESTAMO</span>
                <input type="date" name="fecha_prestamo" formControlName="fecha_prestamo" />
              </div>

              <div class="inputBx">
                <span>FECHA PRESTAMO</span>
                <input type="date" name="fecha_devolucion" formControlName="fecha_devolucion" />
              </div>
          
              <div class="inputBx">
                <input type="submit" name="" value="GUARDAR" class="btn" (click)="enviarlibro()" />
              </div>
            </div>
          </form>
          
        </div>
      </div>
    </section>
   
  </body>
</html>
