<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <div class="barra">
            <a href="" >
                <img src="./assets/images/Navbar/Logo_biblioteca.png" alt="" class="Logoimperial">
            </a>
            <ul>
                <li>ACERCA DE NOSOTROS</li>
                <li>AYUDA/PREGUNTAS FRECUENTES</li>
                <li>LIBROS</li>
                <li>ENCUENTRANOS</li>
            </ul>
            <ul>
                <li>PUBLICIDAD</li>
                <li>MARVEL.COM</li>
                <li>LIBRERIA IMPERIAL</li>
            </ul>
            <div class="contactenos">
                <div >
                    <li clas>CONTACTANOS</li>

                </div>
                <div class="fila2">
                    <a href=""><img src="./assets/images/icons/facebook.png" alt="" class="social"></a>
                    <a href=""><img src="./assets/images/icons/instagram.png" alt="" class="social"></a>
                    <a href=""><img src="./assets/images/icons/google.png" alt="" class="social"></a>
                </div>
                <div>
                    <a href=""><img src="./assets/images/icons/youtube.png" alt="" class="social"></a>
                    <a href=""><img src="./assets/images/icons/twitter.png" alt="" class="social"></a>
                    
                </div>
            </div>
            
        </div>
       
      
      

        
    </div>
  
    
</body>
</html>