* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}

body {

  display: flex;
  flex-direction: column;
  min-height: 100vh;


}

footer {
  margin-top: auto;
}

.flip-card-back img {


  max-width: 280px;
  min-width: 60px;

  background-image: cover;
  border-radius: 10px;


}

.contenedor {
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  min-width: 80%;

}

.panel1 {
  display: flex;
  width: 100%;
  min-width: 80%;
  height: 60px;
  justify-content: space-between;
  padding: 15px 200px;
  border: 3px solid black;
  font-family: TITULOS;

}

.panel2 {
  display: flex;
  background-color: #000000;
  max-width: 100%;
  min-width: 100%;

  height: 380px;
  max-height: 100%;
  min-width: 100%;
  justify-content: space-between;
  padding: 5px 100px;



}

.panel3 {

  display: flex;
  width: 100%;
  min-width: 80%;
  height: 390px;
  justify-content: space-between;
  padding: 5px 200px;


}

.panel4 {
  display: flex;
  width: 30%;
  min-width: 10%;
  height: 150px;
  background-color: #ff0000;
  justify-content: space-between;
  padding: 30px 25px;
  color: white;
  white-space: break-word;
  text-align: center;
  font-family: Akaya_Kanadaka;
  cursor: pointer;
  margin-top: 4vh;


}

a {
  font-size: 20px;
  color: black;
}

.icons {
  width: 80px;
  height: 80px;
}

.boton {
  padding-top: 10px;
  width: 160px;
  height: 45px;
  cursor: pointer;

}

button {
  background-color: #000000;
  border: none;
}

.texto {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 200px;




}

.descripcion {
  display: flex;
  justify-content: center;
  text-align: justify;
  width: 100%;
  height: 200px;

}

.texto2 {

  padding: 100px 30px;
  font-family: DESCRIPCION;
  color: white
}

.img {
  width: 50%;
  height: auto;
  margin-left: 25%;
  padding-top: 60px;

}

footer .wave {

  position: absolute;

  top: -100px;

  left: 0;

  width: 100%;

  height: 100px;

  background: url(../../assets/wave.svg);

  background-size: 990px 110px;
}

footer .derechos p {

  color: #fff;

  justify-content: center;

  text-align: center;

  margin-top: 15px;

}





footer .wave#wave1 {

  z-index: 1000;

  opacity: 1;

  bottom: 0;

  animation: animateWave 4s linear infinite;

}




footer .wave#wave2 {

  z-index: 999;

  opacity: 0.5;

  bottom: 10px;

  animation: animateWave_02 4s linear infinite;

}




footer .wave#wave3 {

  z-index: 1000;

  opacity: 0.2;

  bottom: 15px;

  animation: animateWave_02 3s linear infinite;

}




footer .wave#wave4 {

  z-index: 999;

  opacity: 0.7;

  bottom: 20px;

  animation: animateWave_02 3s linear infinite;

}

@keyframes animateWave {

  0% {

      background-position-x: 1000px;

  }

  100% {

      background-position-x: 0px;

  }

}



@keyframes animateWave_02 {

  0% {

      background-position-x: 0px;

  }

  100% {

      background-position-x: 1000px;

  }

}



form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

table {
  width: 100%;
  max-width: 1200px; /* Limita el ancho máximo de la tabla */
  margin: 5vh auto;
}

/* Estilos para la tabla */
.table.table-dark.table-striped {
  background-color: #333; /* Cambia el color de fondo */
  color: white; /* Cambia el color del texto */
  border-collapse: collapse;
}

.table.table-dark.table-striped th, .table.table-dark.table-striped td {
  border: 1px solid #555; /* Añade bordes a las celdas */
  padding: 8px;
  text-align: left;
}

.table.table-dark.table-striped th {
  background-color: #555; /* Cambia el color de fondo de las celdas de encabezado */
}

/* Estilos para los botones */
.btn.btn-info {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn.btn-info:hover {
  background-color: #0056b3;
}

body{
 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("src\assets\images\backgrounds\libreria.jpg");
  background-size: cover;
  
}