
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    
}
footer{
    margin-top: auto;
    }
.panel{
    height: 450px;
	width: 100%;
	border: 1px solid #ddd;
	background: #000000;
    overflow: scroll;
    min-height: 650px;
    max-height: 350px;
	
  
}
.busqueda{
    background: linear-gradient(to right, #881b1b, #570000);
    display: flex;
    justify-content: center
}
.Description{

   padding: 50px 50px;
   margin-left: 50px;
   width: 35%;
  
}
.Descripcionheroe{
    margin-top: 50px;
    font-size: 15px;
    font-family: DESCRIPCION;
}
.Titulo{
    font-size: 20px;
    font-family: TITULOS;

}
.panel2{
    margin:0;
    padding: 0;    
	width: 100%;
    height: 380px;
    background: linear-gradient(to right, #881b1b, #570000);
   border-bottom: 3px solid #685b5b;
	
    scroll-behavior: smooth;
    display: flex;
    margin-bottom: auto;
   

}

.flip-card {
  
    margin: 0;
    padding: 0;
    /* Genera un efecto 3D */
    box-sizing: border-box;
    width: 200px;
    height: 250px;
    margin-left: 5vh;
    margin-top: 5vh;
   
   
}


/* Este contenedor nos posiciona los dos lados de la tarjeta */

.flip-card-inner {
   
    width: 200px;
    height: 250px;
    transition: transform 0.6s;
    /* duracion de la animacion */
    transform-style: preserve-3d;
}


/* Crea la animación para girar la tarjeta de forma horizontal cuando el ratón se pone encima*/

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/* Estructura básica de las dos caras */

.flip-card-front {
    
    position: center;  
    width: 200px;
    height: 250px;
    backface-visibility: hidden;
}
.flip-card-back {
    position: center;
    /* necesario para posicionar las dos caras a la misma altura */
  
    width: 200px;
    height: 250px;
    backface-visibility: hidden;
    /* nos genera una sombra */
    box-shadow: 20px 20px 40px -10px rgba(0, 0, 0, 0.315);
    border-radius: 10px;
}

.flip-card-front img {
    
   
    width:100%;
    height:100%;
    background-image: cover;
    border-radius:10px;
   
}

.flip-card-back img {
    
   
    width:100%;
    height:100%;
    background-image: cover;
    border-radius:10px;   
    filter: blur(0.10rem) brightness(30%);
   
}




/* card flip animation */

.flip-card {
    border-radius:10px;
    /* Genera un efecto 3D */
    perspective: 1500px;
    width: 200px;
    height: 250px;   
    border-radius:10px;
}


/* Este contenedor nos posiciona los dos lados de la tarjeta */

.flip-card-inner {
    border-radius:10px;
    width: 200px;
    height: 250px;
    transition: transform 0.6s;
    /* duracion de la animacion */
    transform-style: preserve-3d;
}


/* Crea la animación para girar la tarjeta de forma horizontal cuando el ratón se pone encima*/

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/* Estructura básica de las dos caras */

.flip-card-front,
.flip-card-back {
    position: absolute;
    /* necesario para posicionar las dos caras a la misma altura */
    width: 200px;
    height: 250px;
    backface-visibility: hidden;
    /* nos genera una sombra */
  
    border-radius: 10px;
    text-align: center;
    align-items: center;
    align-self: center;
}

.flip-card-front .align-end {

    position: absolute;
    top: 75%;
    left: 10px;
    color: #fafafa;
    font-size: 1.5em;
    text-align: center;
    align-items: center;
    align-self: center;
}


/* Estructura específica de la cara trasera */

.flip-card-back {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 250px;
    border-radius:10px;
    background-color: #EDFFF6;
    transform: rotateY(180deg);
    text-align: center;
    align-items: center;
    align-self: center;
}

.card-title {
    position: absolute;
    padding: 40px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: DESCRIPCION;
    
}

.card-text {
    position: absolute;
    text-align: center;
    font-size: 12.5px;
    margin: 25px;
    padding-top: 10px;
    word-wrap: break-word;
   
}

.buscar{
    margin-top: 20px;
    width: 200px;
    font-size: 20px;
    font-family: TITULOS;
}