<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    
  </div>
 <app-navbar></app-navbar>

  <div class="showcase">
    <div>
      <div>

        <div class="fondo">

        </div>
        <div class="img1">


        </div>
        <div class="Menu">
          <tr>
            <div *ngFor="let character of character">
              <img mat-card-image src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="{{character.name}}">
              <h2 (click)="play()">JUGAR</h2>
              <hr>
            </div>
            <div>
              <img src="/assets/icons/book.png" class="logros">
              <h2 (click)="logros()">LOGROS</h2>
             
              <hr>

            </div>
            <div>
              <img src="/assets/icons/settings.png" class="ajustes">
              <h2 (click)="Ajustes()">AJUSTES</h2>              
              <hr>

            </div>


          </tr>
        </div>


      </div>








    </div>
  </div>


</body>
<footer>
 <app-footer></app-footer>
</footer>

</html>